* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif; }

/*
0 - 400px:      Very slim phone
400 - 500px:    Slim phone     
500 - 600px:    Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
1200 - 1800px:  is where our normal styles apply
1800px + :      Big desktop

$breakpoint argument choices:
- phone-slim
- phone
- tab-port
- tab-land
- big-desktop
*/
html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  height: 100vh;
  background: linear-gradient(to top right, #9933ff 40%, #ff6600 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
  position: relative; }

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  backface-visibility: hidden;
  width: 85rem; }
  @media (max-width: 37.5em) {
    .container {
      width: 70rem; } }
  @media (max-width: 31.25em) {
    .container {
      width: 50rem; } }
  @media (max-width: 25em) {
    .container {
      width: 40rem; } }
  .container__fly-in-text {
    margin-bottom: 4.5rem; }
    @media (max-width: 31.25em) {
      .container__fly-in-text {
        margin-bottom: 3rem; } }
    .container__fly-in-text li {
      font-size: 7rem;
      color: #fff;
      list-style: none;
      display: inline-block;
      opacity: 1;
      transition: transform 2.5s ease;
      letter-spacing: 0.5rem; }
      @media (max-width: 37.5em) {
        .container__fly-in-text li {
          font-size: 5rem; } }
      @media (max-width: 31.25em) {
        .container__fly-in-text li {
          font-size: 4rem; } }
      @media (max-width: 25em) {
        .container__fly-in-text li {
          font-size: 3.7rem;
          letter-spacing: 0; } }
      .container__fly-in-text li:nth-child(10) {
        margin: 0rem 1.5rem 0rem 1.5rem; }
    .container__fly-in-text.hidden li {
      opacity: 0; }
      .container__fly-in-text.hidden li:nth-child(1), .container__fly-in-text.hidden li:nth-child(11) {
        transform: translateX(-20rem) translateY(-20rem); }
      .container__fly-in-text.hidden li:nth-child(2), .container__fly-in-text.hidden li:nth-child(12) {
        transform: translateX(2rem) translateY(10rem); }
      .container__fly-in-text.hidden li:nth-child(3), .container__fly-in-text.hidden li:nth-child(13) {
        transform: translateX(-5rem) translateY(-8rem); }
      .container__fly-in-text.hidden li:nth-child(4), .container__fly-in-text.hidden li:nth-child(14) {
        transform: translateX(1rem) translateY(-20rem); }
      .container__fly-in-text.hidden li:nth-child(5), .container__fly-in-text.hidden li:nth-child(15) {
        transform: translateX(-30rem) translateY(20rem); }
      .container__fly-in-text.hidden li:nth-child(6), .container__fly-in-text.hidden li:nth-child(16) {
        transform: translateX(-20rem) translateY(-20rem); }
      .container__fly-in-text.hidden li:nth-child(7) {
        transform: translateX(2rem) translateY(-2rem); }
      .container__fly-in-text.hidden li:nth-child(8) {
        transform: translateX(3rem) translateY(20rem); }
      .container__fly-in-text.hidden li:nth-child(9) {
        transform: translateX(15rem) translateY(-7.5rem); }
  .container__random-article, .container__or, .container__search-article {
    letter-spacing: 0.25rem;
    opacity: 1;
    font-size: 1.6rem;
    color: #fff; }
  .container__random-article {
    transition: all 1s ease-out 3s;
    display: inline-block; }
    .container__random-article.hidden {
      opacity: 0;
      transform: translateX(-10rem); }
    .container__random-article a {
      color: #fff !important;
      text-decoration: none; }
  .container__random-article--scale {
    transition: all 0.5s ease-out; }
    .container__random-article--scale:hover {
      transform: scale(1.1); }
  .container__or {
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: all 1s ease-out 4s; }
    .container__or.hidden {
      opacity: 0;
      transform: translateY(10rem); }
  .container__search-article {
    transition: all 1s ease-out 5s;
    margin-bottom: 1.5rem; }
    .container__search-article.hidden {
      opacity: 0;
      transform: translateX(10rem); }
  .container__input {
    display: inline-block;
    opacity: 1;
    transition: all 2s ease-out 6s;
    margin-bottom: 5rem; }
    @media (max-width: 31.25em) {
      .container__input {
        margin-bottom: 4rem; } }
    .container__input.hidden {
      opacity: 0; }
  .container__input-text {
    height: 4rem;
    width: 15rem;
    border-radius: 10rem;
    border: 0.3rem solid #fff;
    background-color: rgba(0, 0, 0, 0.1);
    padding-left: 0.75rem;
    color: #fff;
    outline: 0;
    font-size: 1.6rem; }
    @media (max-width: 31.25em) {
      .container__input-text {
        width: 12rem;
        height: 3.5rem; } }
    .container__input-text::placeholder {
      color: #fff; }
  .container__button-submit {
    height: 4rem;
    width: 15rem;
    border-radius: 10rem;
    outline: none !important;
    border: none;
    backgroud-color: #fff;
    color: #707070;
    font-weight: bold;
    font-size: 1.6rem;
    position: relative;
    transition: all .5s ease-out;
    cursor: pointer; }
    @media (max-width: 31.25em) {
      .container__button-submit {
        width: 12rem;
        height: 3.5rem; } }
    .container__button-submit:hover {
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }
    .container__button-submit:active {
      transform: translateY(-0.1rem);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3); }
    .container__button-submit::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 10rem;
      background-color: #fff;
      position: absolute;
      top: 0;
      z-index: -1;
      transition: all .5s ease; }
    .container__button-submit:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .container__move-up {
    top: 5%;
    transform: translateX(-50%) translateY(0%);
    transition: all 1s; }
  .container a {
    text-decoration: none;
    text-align: left;
    color: #333333;
    display: block; }
  .container__new-article {
    background-color: rgba(255, 255, 255, 0.5);
    height: auto;
    width: auto;
    font-size: 1.6rem;
    padding: 1.5rem 1.5rem .5rem 2rem;
    margin-bottom: 2rem;
    transition: transform .5s ease-out;
    border-radius: 0.3rem; }
    .container__new-article:hover {
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
      border-left: 0.6rem solid #ff6600;
      margin-left: -0.5rem; }
    .container__new-article:active {
      transform: translateY(-0.1rem);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3); }

#container__articles h1 {
  margin-bottom: 1rem;
  font-weight: 400; }

#container__articles p {
  line-height: 140%; }
